name: publish
on:
  workflow_dispatch:  # Manual trigger only
    branches: [ "main" ]

jobs:
  unit:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: unit-test
        run: |
           chmod +x gradlew
           ./gradlew test

      - name: Parse version from gradle
        id: get_version
        run: |
          VERSION=$(./gradlew properties --no-daemon --console=plain -q | grep "^version:" | awk '{print $2}')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Building version: $VERSION"

  release:
    needs: [ unit ]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Display version
        run: echo "Publishing version ${{ needs.unit.outputs.version }}"

      - name: Create GitHub Release
        env:
#          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create "${{ needs.unit.outputs.version }}" --target "${{ github.sha }}"

      - name: Tag Release
        env:
          TAG: ${{ needs.unit.outputs.version }}
        run: |
          git tag ${TAG} ${GITHUB_SHA}
          git push origin ${TAG}

      - name: Publish to Maven Central
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USER }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.GPG_PUBLIC_KEY_ID }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          chmod +x gradlew
          ./gradlew publishToMavenCentral
